<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<div>
    <div class="main">
        <div class="row">
            <div class="col-sm-6">
                <label for="date1">start date :</label><br>
                <input type="date" [(ngModel)]="date1Str" name="date1">
                <br><br>
                <label for="date2">end date :</label><br>
                <input type="date" [(ngModel)]="date2Str" name="date2">
            </div>
            <div class="col-sm-6">
                <button id="album" class="btn btn-success" (click)="search()">search</button>
            </div>
        </div>
    </div>
    <app-multi-image *ngIf="imgA" [imageArray]="imgA"></app-multi-image>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>